<main>
    <div class="offer-details">
        <h1>{{name}}</h1>
        <div class="info">
            <img src="{{imageURL}}" alt="">
            <div class="description">{{description}}
                <br>
                <br>
                <p> <strong>Buyers:</strong> {{buyers.length}}</p>
                <br>
                <p class="price">{{price}}</p>
            </div>
        </div>
        <div class="actions">
            {{!-- {{#if isCreator}} --}}
            <a href="/shoes/edit/{{_id}}">Edit</a>
            <a href="/shoes/delete/{{_id}}">Delete</a>
            {{!-- {{else}} --}}
            {{#unless buyers}}
            <a href="/shoes/buy/{{_id}}">Buy</a>
            {{else}}
            <span>You bought it</span>
            {{/unless}}
            {{!-- {{/if}} --}}
        </div>
    </div>
</main>